* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#container {
    width: 500px;
    height: 100vh;
    background-color: lightseagreen;
    font-size: 0px;
    
}

.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightsalmon;
}

.red {
    background-color: red;
    border: 10px solid black;
    /* red = square with thick black border */
}

.green {
    background-color: green;
    border: 10px dashed white;
    
}

.blue {
    background-color: blue;
    border: 10px double yellow;
}

.yellow {
    background-color: yellow;
    border: 10px dotted brown;
}

