* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#morning {
    background-color: aquamarine;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#afternoon {
    background-color: bisque;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#evening {
    background-color: aqua;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.completed {
    text-decoration: line-through;
    color: #555;
}

.important {
    font-weight: bold;
    color: red;
}

.completed.important {
    background-color: yellow;
    box-shadow: 0px 0px 8px greenyellow inset 0px 0px 8px green;
    padding: 5px;
    border-radius: 5px;
}

.button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: lightgreen;
    text-decoration: none;
    cursor: pointer;
}

.complete .button {
    background-color: #ccc;
    color: #666;
    cursor: default;
}

.button + .button {
    margin-left: 15px;
}