* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#morning {
    background-color: aquamarine;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#afternoon {
    background-color: bisque;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#evening {
    background-color: aqua;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#morning .completed,
#afternoon .completed,
#evening .completed {
    text-decoration: line-through;
    color: #555;
}

#morning .important,
#afternoon .important,
#evening .important {
    font-weight: bold;
    color: red;
}

#morning .completed .important,
#afternoon .completed .important,
#evening .completed .important {
    background-color: rgb(237, 224, 238);
    box-shadow: 0px 0px 8px greenyellow inset 0px 0px 8px green;
    padding: 5px;
    border-radius: 5px;
}

#morning .button,
#afternoon .button,
#evening .button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: lightgreen;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}

#morning .complete .button,
#afternoon .complete .button,
#evening .complete .button {
    background-color: #ccc;
    color: #666;
    cursor: default;
}

#morning .button + .button,
#afternoon .button + .button,
#evening .button + .button {
    margin-left: 15px;
}

li {
    margin-bottom: 10px;
}

#morning .button :hover,
#afternoon .button :hover,
#evening .button :hover {
    background-color: lightblue;
    color: black;
}

#morning ul {
    background-color: #30dcab;
    padding: 15px;
    border-radius: 10px;
}

#afternoon ul {
    background-color: #f7c89c;
    padding: 15px;
    border-radius: 10px;
}

#evening ul {
    background-color: #d6a4f4;
    padding: 15x;
    border-radius: 10px;
}