/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 24px;
    padding: 24px;
    height: 200px;
    box-sizing: border-box;
    min-height: 200px;
    box-shadow: 3px 3px 5px 1px;
}

.post-it-image {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 24px;
    padding: 24px;
    height: 200px;
}

.pink {
    background-color: palevioletred;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orangered;
}

.yellow {
    background-color: yellowgreen;
}

.red {
    background-color: red;
}

.post-it p {
    margin: 6px 0;
}

.post-it ul {
    margin: 6px 0 0 18px;
}

.post-it h2 {
    margin: 0 0 8px;
}

#bulletin-board{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    align-content: flex-start;
}

.post-it {
    border-radius: 8px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, .18);
    border: 1px solid rgba(0, 0, 0, .15);
}

.post-it h2{
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.05;
    margin-bottom: 10px;
}

.post-it p,
.post-it li{
    line-height: 1.35;
    font-size: 16px;
}

.post-it ul {
    padding-left: 18px;
}

.post-it li{
    margin: 4px 0;
}