/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 24px;
    padding: 24px;
    height: 200px;
    box-sizing: border-box;
    min-height: 200px;
    box-shadow: 3px 3px 5px 1px;
}

.post-it-image {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin: 24px;
    padding: 24px;
    height: 200px;
}

.pink {
    background-color: palevioletred;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orangered;
}

.yellow {
    background-color: yellowgreen;
}

.post-it p {
    margin: 6px 0;
}

.post-it ul {
    margin: 6px 0 0 18px;
}

.post-it h2 {
    margin: 0 0 8px;
}